{% if variable_name %}<h2>{{ variable_name }}</h2>{% endif %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        {% for key, value in variable.iteritems() %}
        <tr>
            <td><code>{{ key }}</code></td>
            <td><pre>{{ value|wordwrap }}</pre></td>
        </tr>
        {% endfor %}
    </table>
</div>