<div class="row">
    <div class="col-md-6">
        <h1>Wikipedia Search</h1>

        <form method="get">
            <div class="form-group">
                  <div class="input-group">
                    <input id="q" name="q" type="text" class="form-control input-lg" placeholder="Search" value="{{form.q}}">
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-lg" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                  </div>
            </div>
        </form>
    </div>
</div>
